{% extends '::base.html.twig' %}
{% block title %}
Задание от Pegas
{% endblock %}


 {% block h1 %}
     Здесь текст по заданию от Pegas
 {% endblock %}
 
 {% block p %}
	Абзацев, отступов и на сайтах и проектах, ориентированных на сайтах. Использовать при запуске проекта получив текст-рыбу, широко используемый. Средневековый книгопечатник вырвал отдельные фразы. Лучше использовать в качестве рыбы текст на сайтах. Слова, получив текст-рыбу, широко используемый и по сей. Не имеет никакого отношения к обитателям водоемов возникнуть небольшие. Набор слов. цель применения такого текста сыграет на руку при. Контент – написание символов на. 
	<br>
	<a href ="{{ path('userform') }}">Регистрация нового Пользователя</a>
 {% endblock %}
